@charset "UTF-8";

.divCentering{
	text-align: center;
}

/* .detailBoard{ */
/* 	border: 1px solid black; */
/* } */

.reportBtn{
	text-align:center;
}

.lostForm{
	text-align: center;
}