@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap')	;

html{
	height: 100%;
	width: 100%;
	border: 3px solid black;
}

.container{
	width : 97%;
	height: 100%;
	margin-right: 1.5%;
	margin-left: 1.5%;
	margin-top: 5%;
}

.searchDiv{
	margin-top:2%;
}

/* @font-face{ */
/* 	font-family: "AppleSDGothicNeoB"; */
/* 	src:url("css/AppleSDGothicNeoB.ttf") format("truetype"); */
/* 	font-style: normal; */
/* 	font-weight: 300; */
/* } */

body{
  font-family: 'Noto Sans KR', sans-serif;
/* 	font-family:AppleSDGothicNeoB; */
	font-size: 10px;
}

.searchDiv{
	text-align: center;
}

.inputForm{
	height: 30px;
	margin-bottom: 2%;
	text-align: center;
}

#searchBtn{
	width:20%;
}

#searchInput{
	width:60%;
}
/* .reportBtn{ */
/* 	margin-bottom:20%; */
/* } */


/* #container { */
/* 	width: 360px; */
/* 	border: 1px solid black; */
/* 	height: 600px; */
/* 	margin: auto; */
/* } */

/* #content { */
/* 	width: 97%; */
/* 	margin-left: 1.5%; */
/* 	margin-right: 1.5% */
/* } */



