<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.min.edu.model.ILostPropertyDao">


<select id="selectAllLostProperty" resultType="LostPropertyDto">
	SELECT SEQ, RECEIPT_USER_ID, LOST_REGDATE, AND_DATE, LOST_KEEP_LOCATION, LOST_STATUS
	FROM LOSTPROPERTY
</select>

<select id="selectOneLostProperty" parameterType="java.lang.String" resultType="LostPropertyDto">
	SELECT *
	FROM LOSTPROPERTY r
	WHERE SEQ = #{seq}
</select>

<insert id="insertLostProperty" parameterType="LostPropertyDto">
	INSERT INTO LOSTPROPERTY
	(SEQ, RECEIPT_USER_ID, COST_CODE, LOST_REGDATE, LOST_KEEP_LOCATION, LOST_STATUS, AND_DATE, DISPOSAL_DATE)
	VALUES(LOSTPROPERTY_SEQ.NEXTVAL, #{email}, #{cost_code}, TO_DATE(#{lost_regdate}, 'YYYY-MM-DD HH24:MI:SS'), #{lost_keep_location},
	#{lost_status}, TO_DATE(#{and_date}, 'YYYY-MM-DD HH24:MI:SS'),
	TO_DATE(#{disposal_date}, 'YYYY-MM-DD HH24:MI:SS'))
</insert>

</mapper>
