<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="storageBox">

	<!-- 보관함ID로 STORAGEBOX_LIST 조회 -->
	<select id="selectStorageBoxList" parameterType="java.lang.String" resultType="StorageListDto">
		SELECT STORAGE_ID, STORAGE_NAME, ADDRESS, SUBWAY, DETAIL, MANAGER FROM STORAGEBOX_LIST WHERE STORAGE_ID= #{storageId}
	</select>
	
	<!-- 보관함SEQ, 보관함ID로 STORAGEBOX_GOODS 조회 -->
	<select id="selectStorageGoods" parameterType="java.util.Map" resultType="StorageGoodsDto">
		SELECT BOX_SEQ, STORAGE_ID, KEY, IN_USER, OUT_USER, IN_TIME, EX_TIME, DELIVERY_CODE, CATEGORY_CODE, COST_CODE, MESSAGE, EXTEND_CNT
		FROM STORAGE_GOODS WHERE BOX_SEQ = #{boxSeq} AND STORAGE_ID= #{storageId}
	</select>
	
	<!-- 보관 내역(사용자) -->
	<select id="selectUserStorageList" parameterType="java.lang.String" resultType="UserStorageListDto">
		SELECT sg.BOX_SEQ, sl.STORAGE_ID, sl.STORAGE_NAME, sl.SUBWAY, sl.DETAIL,
		sg.IN_USER, sg.OUT_USER,
		TO_CHAR(sg.IN_TIME, 'YYYY-MM-DD HH:MI:SS') AS IN_TIME, TO_CHAR(sg.EX_TIME,'YYYY-MM-DD HH24:MI:SS') AS EX_TIME,
		sg.COST_CODE, sg.CATEGORY_CODE, sg.EXTEND_CNT,
		CASE WHEN sg.EX_TIME &gt;= SYSDATE THEN 0 
		WHEN sg.EX_TIME &lt; SYSDATE THEN TRUNC((SYSDATE - sg.EX_TIME)*24*60) END AS OVERTIME
		FROM STORAGE_GOODS sg JOIN STORAGEBOX_LIST sl ON sg.STORAGE_ID = sl.STORAGE_ID
		WHERE IN_USER = #{email} OR OUT_USER = #{email}
	</select>
	
	<!-- 보관 비용 조회 -->
	<select id="selectCost" parameterType="java.lang.String" resultType="CostDto">
		SELECT c.COST_CODE as costCode, c.COST as cost FROM COST c LEFT JOIN STORAGE_GOODS sg ON c.COST_CODE = sg.COST_CODE
		WHERE sg.OUT_USER = #{email}
	</select>

	<!-- 타임테이블 SEQ 조회 -->
	<select id="selectTimeTableSeq" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT TIME_TABLE_SEQ FROM TIME_TABLE WHERE START_STATION = #{subway}
	</select>
	
	<!-- 역 갯수 조회 -->
	<select id="selectSubwayCnt" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM TIME_TABLE
	</select>
	
	<!-- 전체 배송원 EMAIL, NAME 조회 -->
	<select id="selectDeliveryMan" resultType="MemberDto">
		SELECT EMAIL, NAME FROM "MEMBER" WHERE AUTH = 80
	</select>
	
	<!-- 배송원 현재 위치 조회 -->
	<select id="selectDeliveryLoc" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT SUBWAY FROM STORAGEBOX_LIST WHERE STORAGE_ID = (
		SELECT CURRENT_LOC FROM DELIVERYMAN WHERE DELIVERYMAN_ID = #{deliverymanId})
	</select>
	
	<!-- 배송 물량 확인 -->
	<select id="selectDeliveryQty" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM DELIVERY WHERE DELIVERYMAN_ID = #{deliverymanId}
	</select>
	
	<!-- 배송 소요 시간 계산 -->
	<select id="selectDeliveryTime" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT SUM(DURATION) FROM TIME_TABLE WHERE TIME_TABLE_SEQ BETWEEN #{startSeq} AND #{arriveSeq}
	</select>
	
	<!-- 배송 등록 -->
	<insert id="insertDelivery" parameterType="DeliveryDto">
		INSERT INTO DELIVERY VALUES('YMD'||TO_CHAR(DELIVERY_CODE_SEQ.NEXTVAL), #{deliveryCost}, #{deliverymanId}, #{outboxId}, null, null)
		<selectKey keyProperty="deliveryCode" order="AFTER" resultType="java.lang.String">
			SELECT 'YMD'||TO_CHAR(DELIVERY_CODE_SEQ.CURRVAL) FROM DUAL
		</selectKey>
	</insert>
	
	<!-- 보관 정보 업데이트 -->
	<update id="updateDeliveryCode" parameterType="StorageGoodsDto">
		UPDATE STORAGE_GOODS SET DELIVERY_CODE = #{deliveryCode}, CATEGORY_CODE = #{categoryCode}, MESSAGE = #{message}
		WHERE BOX_SEQ = #{boxSeq} AND STORAGE_ID = #{storageId}
	</update>

	<!-- 결제 금액 업데이트 -->
	<update id="updateDeliveryCost" parameterType="DeliveryDto">
		UPDATE COST SET COST = COST + (
		SELECT DELIVERY_COST FROM DELIVERY WHERE DELIVERY_CODE = (
		SELECT DELIVERY_CODE FROM STORAGE_GOODS WHERE BOX_SEQ = #{boxSeq} AND STORAGE_ID = #{storageId}))
		WHERE COST_CODE = (SELECT COST_CODE FROM STORAGE_GOODS WHERE BOX_SEQ = #{boxSeq} AND STORAGE_ID = #{storageId})
	</update>
	
	<!-- 유실물 비용 추가 -->
	<update id="updateLostCost" parameterType="java.lang.String">
		UPDATE COST SET COST = COST + 50000 WHERE COST_CODE = (
		SELECT COST_CODE FROM LOSTPROPERTY WHERE KEY = #{key})
	</update>
	
	<!-- 배송 내역(사용자) -->
	<select id="selectUserDeliveryList" parameterType="java.lang.String" resultType="DeliveryDto">
		SELECT STORAGE_GOODS.BOX_SEQ, STORAGEBOX_LIST.STORAGE_NAME, STORAGEBOX_LIST.SUBWAY, STORAGEBOX_LIST.DETAIL,
		DELIVERY.DELIVERYMAN_ID, TO_CHAR(DELIVERY.DELIVERY_ARRIVE,'YYYY-MM-DD HH24:MI:SS')
		FROM DELIVERY JOIN STORAGE_GOODS ON DELIVERY.DELIVERY_CODE = STORAGE_GOODS.DELIVERY_CODE
		JOIN STORAGEBOX_LIST ON DELIVERY.OUTBOX_ID = STORAGEBOX_LIST.STORAGE_ID
		WHERE IN_USER = #{email} OR OUT_USER = #{email}
	</select>

	<!-- 배송 할당 물품 조회(배송원) -->
	<select id="selectDelmanDeliveryList" parameterType="java.lang.String" resultType="DeliveryDto">
		SELECT STORAGEBOX_LIST.STORAGE_NAME, STORAGEBOX_LIST.SUBWAY, STORAGEBOX_LIST.DETAIL,
		STORAGE_GOODS.BOX_SEQ, DELIVERY.DELIVERY_CODE, DELIVERY.OUTBOX_ID FROM DELIVERY
		JOIN STORAGE_GOODS ON DELIVERY.DELIVERY_CODE = STORAGE_GOODS.DELIVERY_CODE
		JOIN STORAGEBOX_LIST ON DELIVERY.OUTBOX_ID = STORAGEBOX_LIST.STORAGE_ID
		WHERE DELIVERYMAN_ID = #{email}
	</select>
	
	<!-- 배송 물품 수령(배송원) -->
	<update id="updatedeliveryStrat" parameterType="java.lang.String">
		UPDATE DELIVERY SET DELIVERY_START = SYSDATE WHERE DELIVERY_CODE = #{deliveryCode}
	</update>
	
	<!-- 결제 상태 업데이트 -->
	<update id="updateCostStatus" parameterType="java.lang.String">
		UPDATE COST SET COST_STATUS = 'Y' WHERE DELIVERY_CODE = #{costCode}
	</update>

	<!-- 지도 -->
	<select id="selectStorageList" resultType="java.util.HashMap">
		select storage_id AS "value" ,storage_name AS "label" ,address||' '||subway||' '||detail AS "desc" from storagebox_list
	</select>
	<select id="selectMap" resultType="java.util.HashMap">
		select storage_id as "id",lng as "lng",lat as "lat" from storagebox_list
	</select>

</mapper>