<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev2.ylml.model.dao.Manager_StorageIDao">
	
	
	<!-- 보관함 전체조회 -->
	<select id="selectAllStorage" parameterType="java.util.Map"
	resultType="StorageDto">
		SELECT STORAGE_ID , STORAGE_NAME , ADDRESS , SUBWAY , LAT , LNG , DETAIL, MANAGER
		FROM STORAGEBOX_LIST sl 
	</select>
	
	
	<!-- 보관함 ID로 조회 -->
	<!-- 보관함 ID로 검색하여 리스트 출력(보관함 ID, 이름, 지하철역, 좌표, 좌표) -->
	<select id="selectIdStorage" parameterType="java.lang.String"
	resultType="StorageDto">
		SELECT STORAGE_ID , STORAGE_NAME , ADDRESS , SUBWAY , LAT , LNG , DETAIL, MANAGER, 
                (SELECT COUNT(BOX_SEQ) FROM STORAGE_CITYHALL sc) AS BOX_AMOUNT
        FROM STORAGEBOX_LIST sl 
                WHERE STORAGE_ID = #{storage_id}
	</select>
	
	<!-- 보관함 지하철역으로 조회 -->
	<!-- 보관함 지하철역 검색 리스트 출력(보관함 ID, 이름, 지하철역, 좌표, 좌표) -->
	<select id="selectSubwayStorage" parameterType="java.lang.String"
	resultType="StorageDto">
		SELECT STORAGE_ID , STORAGE_NAME , ADDRESS , SUBWAY , LAT , LNG ,
		DETAIL, MANAGER,
		(SELECT COUNT(BOX_SEQ) FROM STORAGE_CITYHALL sc) AS BOX_AMOUNT
		FROM STORAGEBOX_LIST sl
		WHERE SUBWAY = #{subway}          
	</select>


	<!-- 보관함 상세정보 조회(보관함 ID, 이름, 지하철역, 좌표, 좌표, 보관함 갯수, 보관함 상태, 담당자) -->
	<!-- 보관함 상태는 추가쿼리 작성 -->
	<select id="selectDetailStorage" parameterType="java.lang.String" 
	resultType="StorageDto">
		SELECT STORAGE_ID, STORAGE_NAME, ADDRESS, SUBWAY, DETAIL, MANAGER, LNG, LAT,
		(SELECT COUNT(BOX_SEQ) FROM STORAGE_CITYHALL sc WHERE STORAGE_ID = #{storage_id}) AS BOX_AMOUNT
		FROM STORAGEBOX_LIST sl
		WHERE STORAGE_ID = #{storage_id}
	</select>
	<!-- 보관함 상태조회 -->
	<select id="selectBoxStatus" parameterType="java.lang.String"
	resultType="StorageDto">
		SELECT BOX_SEQ ,BOX_STATUS FROM STORAGE_CITYHALL WHERE STORAGE_ID = #{storage_id}
	</select>
	
	<!-- 보관함 등록 -->
	<!-- 신규 보관함 등록(보관함 ID, 이름, 지하철역, 실제주소, 상세주소, LNG, LAT, 담당자) -->
	<select id="registStorage" parameterType="StorageDto">
		INSERT INTO STORAGEBOX_LIST 
		VALUES(#{storage_id}, #{storage_name}, #{address}, #{detail}, #{subway}, #{manager}, #{lng}, #{lat})
	</select>

	<!-- 보관함 수정 -->
	<!-- 변동사항이 있다면 물품 보관함에서 조회(보관함ID로 검색) 후 선택하여 수정 -->
	<select id="modifyStorage" parameterType="StorageDto">
		UPDATE STORAGEBOX_LIST SET STORAGE_NAME = #{storage_name}, ADDRESS = #{address}, SUBWAY = #{subway}, 
		DETAIL = #{detail}, LNG = #{lng}, LAT = #{lat}, MANAGER = #{manager}
        WHERE STORAGE_ID = #{storage_id}
	</select>
               
	<!-- 사용불가 보관함이 해결되었을때 관리자가 사용 가능 보관함으로 변경 -->
	<select id="ActivateStorage" parameterType="java.lang.String">
		UPDATE STORAGE_CITYHALL SET BOX_STATUS = 'O'
        WHERE BOX_SEQ = #{box_seq}
	</select>
	
</mapper>
