<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev2.ylml.dao.LostPropertyIDao">


<select id="selectAllLostProperty" resultType="LostPropertyDto">
	SELECT SEQ, RECEIPT_USER_ID, LOST_REGDATE, AND_DATE, LOST_KEEP_LOCATION, LOST_STATUS
	FROM LOSTPROPERTY
</select>

<select id="selectOneLostProperty" parameterType="java.lang.String" resultType="LostPropertyDto">
	SELECT *
	FROM LOSTPROPERTY r
	WHERE SEQ = #{seq}
</select>

<insert id="insertLostProperty" parameterType="java.util.List">
	INSERT INTO LOSTPROPERTY
	(SEQ, RECEIPT_USER_ID, COST_CODE, LOST_REGDATE, 
	LOST_KEEP_LOCATION, LOST_STATUS, AND_DATE, DISPOSAL_DATE)
	SELECT LOSTPROPERTY_SEQ.NEXTVAL, A.* FROM(
	<foreach collection="list" item="item" separator="UNION ALL">
	SELECT  #{item.outUser} AS RECEIPT_USER_ID,
				 #{item.costCode} AS COST_CODE,
				 SYSDATE AS LOST_REGDATE,
	 			#{item.storageId} AS LOST_KEEP_LOCATION,
	 			'L' AS LOST_STATUS, 
	 			SYSDATE+3 AS AND_DATE,
	 			SYSDATE+3 AS DISPOSAL_DATE 
	 FROM DUAL
	</foreach>)A
</insert>
  
<select id="selectAllPagingLostProperty" parameterType="com.dev2.ylml.util.PagingVO" resultType="LostPropertyDto">
		SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT * 
						FROM LOSTPROPERTY
						ORDER BY SEQ
						) A
				)
	WHERE RN BETWEEN #{start} AND #{end}
</select>

<select id="countLostProperty" resultType="java.lang.Integer">
	SELECT COUNT(*) FROM LOSTPROPERTY
  </select>

<select id="selectInsertLostPropertyList" resultType="StorageGoodsDto">
  SELECT STORAGE_ID ,OUT_USER ,COST_CODE FROM STORAGE_GOODS
  
<!-- 	SELECT DISTINCT sg.BOX_SEQ , sg.#{storage_id} , sg.OUT_USER , sg.COST_CODE , ca.BOX_STATUS  -->
<!-- 		FROM STORAGE_GOODS sg, #{storage_id} ca -->
<!-- 			ca.BOX_STATUS = 'X' -->

<!-- SELECT DISTINCT sg.BOX_SEQ , sg.#{storage_id} , sg.OUT_USER , sg.COST_CODE , ca.BOX_STATUS  -->
<!-- 	FROM STORAGE_GOODS sg, #{storage_id} ca  -->
<!-- 		WHERE ca.BOX_STATUS ='I' -->
<!-- 			AND sg.STORAGE_ID = '#{storage_id}'; -->
</select>


</mapper>
