<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev2.ylml.dao.LostPropertyIDao">


<select id="selectAllLostProperty" resultType="LostPropertyDto">
	SELECT SEQ, RECEIPT_USER_ID, LOST_REGDATE, AND_DATE, LOST_KEEP_LOCATION, LOST_STATUS
	FROM LOSTPROPERTY
</select>

<select id="selectOneLostProperty" parameterType="java.lang.String" resultType="LostPropertyDto">
	SELECT *
	FROM LOSTPROPERTY r
	WHERE SEQ = #{seq}
</select>

<insert id="insertLostProperty" parameterType="LostPropertyDto">
	INSERT INTO LOSTPROPERTY
	(SEQ, RECEIPT_USER_ID, COST_CODE, LOST_REGDATE, LOST_KEEP_LOCATION, LOST_STATUS, AND_DATE, DISPOSAL_DATE)
	VALUES(LOSTPROPERTY_SEQ.NEXTVAL, #{receipt_user_id}, #{cost_code}, SYSDATE, #{lost_keep_location},
	'L', SYSDATE+3,
	SYSDATE+3);
</insert>

<select id="selectInsertLostPropertyList" resultType="LostPropertyDto">
<!-- 	SELECT DISTINCT sg.BOX_SEQ , sg.#{storage_id} , sg.OUT_USER , sg.COST_CODE , ca.BOX_STATUS  -->
<!-- 		FROM STORAGE_GOODS sg, #{storage_id} ca -->
<!-- 			ca.BOX_STATUS = 'X' -->
			
SELECT DISTINCT sg.BOX_SEQ , sg.#{storage_id} , sg.OUT_USER , sg.COST_CODE , ca.BOX_STATUS 
	FROM STORAGE_GOODS sg, #{storage_id} ca 
		WHERE ca.BOX_STATUS ='I'
			AND sg.STORAGE_ID = '#{storage_id}';
</select>


</mapper>
