<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev2.ylml.model.dao.Manager_MemberIDao">

	<!-- 담당자 및 배송원 전체 정보조회 -->
	<select id="selectallDelivery" parameterType="java.util.Map"
	resultType="ManagerDto">
	SELECT EMAIL, NAME, PHONE_NUM, AUTH
	FROM "MEMBER" m
	WHERE AUTH IN (80,90,89,99) 
	</select>
	
	<!-- 상세 정보조회 -->
	<select id="selectDetail" parameterType="java.lang.String" 
	resultType="ManagerDto">
	SELECT EMAIL, NAME, PHONE_NUM, REG_DATE , LEV_DATE, AUTH
	FROM "MEMBER" m
	WHERE EMAIL = #{email}
	</select>
	
	<!-- 배송 정보조회 -->
	<select id="DeliveryInfo" parameterType="java.lang.String"
	resultType="ManagerDto">
	SELECT DELIVERY_CODE,
	(SELECT CURRENT_LOC FROM DELIVERYMAN d WHERE DELIVERYMAN_ID =
	#{email}) AS CURRENT_LOC ,
	DELIVERY_START, DELIVERY_ARRIVE
	FROM DELIVERY d2
	WHERE DELIVERYMAN_ID = #{email}
	</select>
	
	
	<!-- 임시권한 담당자 및 배송원 정보조회 -->
	<select id="selectTempDelivery" parameterType="java.util.Map"
	resultType="ManagerDto">
	SELECT EMAIL, NAME, PHONE_NUM, AUTH
	FROM "MEMBER" m
	WHERE AUTH IN (89,99)
	</select>
  	
  	<!-- 담당자 및 배송원 임시권한 변경 -->
  	<select id="modifyAuth" parameterType="java.lang.String">
	UPDATE "MEMBER"
	SET AUTH = CASE
	WHEN AUTH = '99' THEN '90'
	WHEN AUTH = '89' THEN '80'
	END
	WHERE EMAIL = #{email}
	</select>
	
	<!-- 담당자 및 배송원의 아이디를 통해 정보 조회 
	(이메일, 이름, 핸드폰번호, 권한, 배송코드, 현재위치)-->
	<select id="selectIdDelivery" parameterType="java.util.Map"
	resultType="ManagerDto">
	SELECT EMAIL, NAME, PHONE_NUM, AUTH,
	(SELECT CURRENT_LOC FROM DELIVERYMAN D WHERE DELIVERYMAN_ID =
	#{email}) AS CURRENT_LOC,
	(SELECT DELIVERY_CODE FROM DELIVERY D2 WHERE DELIVERYMAN_ID = 
	#{email}) AS DELIVERY_CODE
	FROM "MEMBER"
	WHERE EMAIL = #{email}
	</select>
  	
</mapper>
